* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: sans-serif;
  padding: 2rem;
}

.flex_1_column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grid_1_1_1 .grid_1_1_1_2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 800px) {
  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .grid_1_1_1_2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  }
}
