---
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import CardSection from "../components/CardSection.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import ScrollBar from "../components/ScrollBar.astro";
import ReelSection from "../components/ReelSection.astro";
import "../styles/styles.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="”robots”" content="”noindex,nofollow”" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tema 7</title>
  </head>
  <body>
    <Navigation />
    <Header />
    <Hero />
    <CardSection />
    <Button />
    <ScrollBar />
    <ReelSection />
    <Footer />
  </body>
</html>
