---
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import CardSection from "../components/CardSection.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import ScrollBar from "../components/ScrollBar.astro";
import ReelSection from "../components/ReelSection.astro";
import "../styles/styles.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/imgs/logo.png" />
    <meta name="”robots”" content="”noindex,nofollow”" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />
    <title>Creative Escape</title>
  </head>
  <body>
    <Header />
    <Hero />
    <CardSection />
    <ScrollBar />
    <ReelSection />
    <Footer />
  </body>
</html>
