---
import PageLayout from "../layouts/PageLayout.astro";
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";
import "../styles/styles.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="”robots”" content="”noindex,nofollow”" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Side 2</title>
  </head>

  <body>
    <Header />

    <h1>See here for a quick guide to getting around Copenhagen by public transport.</h1>
    <img src="/imgs/nyhavn-billede.webp" alt="Billede af nyhavn" />

    <section class="cards">
      <header>
        <ul class="grid_1_1_1">
          <Card img="/imgs/gammeldiamant.webp" title="Bing Bong" body="lorem......Lorom" link="/animation" alt="Test" />
          <Card img="/imgs/studenterhus.webp" title="Bing Bong" body="lorem......Lorom" link="/animation" />
        </ul>
      </header>
    </section>
  </body>
</html>
