---
import Card from "./Card.astro";
import "../styles/styles.css";
---

<section class="cards">
  <header>
    <h2>MUST-TRY STUDY SPOTS IN COPENHAGEN CITYYY</h2>

    <ul class="grid_1_1_1">
      <Card img="/imgs/gammeldiamant.webp" title="Royal Danish Library" alt="Test" />
      <Card img="/imgs/studenterhus.webp" title="Studenter Huset" link="/animation" />
      <Card img="/imgs/hovedbiblo.webp" title="Copenhagen main libary" />
    </ul>
  </header>
</section>

<style>
  .cards {
    color: #ffffff;
    background-color: #fb4f4f;
  }
</style>
