---
import Card from "./Card.astro"
import "../styles/styles.css";
---
      
      <section class="cards">
        <header>
          <h2>Check out our most popular courses!</h2>
        </header>

        <ul class="grid_3_1">
            <Card title="Bing Bong" body="lorem......Lorom" link="/animation"></Card>
            <Card></Card>
            <Card></Card>
            <Card></Card>
            <Card></Card>
            <Card></Card>
            

        </ul>
      </section>