---
import Card from "./Card.astro"
import "../styles/styles.css";
---
      
      <section class="cards">
        <header>
          <h2>Check out our most popular courses!</h2>

        <ul class="grid_1_1_1">
            <Card img="/imgs/computer-cutout.webp" title="Bing Bong" body="lorem......Lorom" link="/animation"></Card>
            <Card img="/imgs/computer-cutout.webp" title="Bing Bong" body="lorem......Lorom" link="/animation"></Card>
            <Card img="/imgs/computer-cutout.webp" title="Bing Bong" body="lorem......Lorom" link="/animation"></Card>
        </ul>


      </section>