---
import Card from "./Card.astro";
import "../styles/styles.css";
---

<section class="cards">
  <header>
    <h2>MUST-TRY STUDY SPOTS IN COPENHAGEN CITYYY</h2>

    <ul class="grid_1_1_1">
      <Card img="/imgs/gammeldiamant.webp" title="Royal Danish Library" alt="Test" />
      <Card img="/imgs/studenterhus.webp" title="Studenter Huset" />
      <Card img="/imgs/hovedbiblo.webp" title="Copenhagen main libary" />
    </ul>
  </header>
</section>

<style>
  h2 {
    font-family: "Anton", sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  h3 {
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .cards {
    color: black;
    background-color: #f2bf81;
    padding: 4rem;
  }
</style>
