---
import Button from "./Button.astro";
---

<footer>
  <div class="footer_1-1">
    <p>CREATIVE ESCAPE</p>
    <img src="/imgs/logo-hvid.jpeg" alt="logo" />
  </div>
</footer>

<style>
  footer {
    background-color: #252525;
    padding: 4.5rem;
  }

  p {
    color: white;
    margin-top: 3rem;
    font-size: 3rem;
    margin-left: 3.5rem;
    font-family: "Inter", sans-serif;
  }

  img {
    margin-left: 15rem;
  }

  .footer_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
