---
import Button from "./Button.astro";
import Card from "./Card.astro";
---

<div>
  <div class="grid_1_1_1_2">
    <div class="flex_1_column">
      <Card img="/imgs/5-matcha-fred2.webp" title="Bing Bong" body="lorem......Lorom" link="/animation" />
      <Card img="/imgs/cykel.webp" title="Bing Bong" body="lorem......Lorom" link="/animation" />
      <Card img="/imgs/rejsebillet.webp" title="Bing Bong" body="lorem......Lorom" link="/animation" />
    </div>

    <div>
      <img src="/imgs/nyhavn-billede.webp" alt="Billede af nyhavn" />
      <h1>Lucia er sej og har en stor musskel</h1>
    </div>
  </div>
</div>

<style>
  .flex_1_column img {
  }
</style>
