---
import Button from "./Button.astro"
import Card from "./Card.astro"
---
      <header>
        <div class="content">
          <h1>Maximize skill, minimize budget</h1>
          <p>
            Our modern courses across a range of in-demand skills will give you
            the knowledge you need to live the life you want.
          </p>
          <a href="/courses" class="btn" data-variant="primary">Get started</a>
        </div>
        <figure>
          <img src="/imgs/image.jpg" width="400" alt="" />
        </figure>


        <div>
        <ul class="grid_1_1_1_2">
          <div class="flex_1_column">
            <Card img="/imgs/computer-cutout.webp" title="Bing Bong" body="lorem......Lorom" link="/animation"></Card>
            <Card img="/imgs/computer-cutout.webp" title="Bing Bong" body="lorem......Lorom" link="/animation"></Card>
            <Card img="/imgs/computer-cutout.webp" title="Bing Bong" body="lorem......Lorom" link="/animation"></Card>
            </div>
            <Card variant="featured" img="/imgs/computer-cutout.webp" title="Bing Bong" body="lorem......Lorom" link="/animation"></Card>
        </ul>
        </div>
      </header>

      <style>
.featured {
  
}



      </style>