<nav>
  <a href="/">
    <img src="/imgs/logo.png" alt="Home" />
  </a>
  <a href="/page2">Copenhagen transportation</a>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid;
    margin-bottom: 60px;
    padding: 2rem 4rem 2rem 4rem;
  }

  nav a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
  }
</style>
