---
const { img, title, beskrivelse, cafe } = Astro.props;
import "../styles/styles.css";
---

<div>
  <img src={img} alt={title} />
  <h3>{cafe}</h3>
  <p>{beskrivelse}</p>
</div>

<style>
  div {
    flex-shrink: 0;
    max-width: 300px;
  }
</style>
