---
import ScrollComponent from "./ScrollComponent.astro";
---

<div id="matcha-spots">
  <h2>WHERE TO GET MATCHA IN COPENHAGEN</h2>

  <div class="scroll-bar">
    <ScrollComponent img="/imgs/1-matcha-mori.webp" link="https://www.instagram.com/dallas.cph/?hl=da" cafe="Matcha MORI Café Atelier" beskrivelse="Matcha MORI Café Atelier er en hyggelig café i Nordhavn, der fokuserer på matcha og stemning" />
    <ScrollComponent img="/imgs/2-matcha-mokkari.webp" link="https://www.instagram.com/fredscph/?hl=en" cafe="Mokkariet" beskrivelse="Mokkariet er en café på Nørrebro med fokus på god kaffe, hjemmebag og en afslappet stemning." />
    <ScrollComponent img="/imgs/3-matcha-fred.webp" link="https://www.instagram.com/broensstreetfood/" cafe="Fred's" beskrivelse="Freds er et matcha-spot ved Rådhuspladsen, gemt i en beauty salon." />
    <ScrollComponent img="/imgs/6-matcha-broen.webp" link="https://www.instagram.com/fredscph/?hl=en" cafe="Broens Gadekøkken" beskrivelse="Et matcha-spot ved Broens Gadekøkken, hvor du kan nyde drikken med udsigt til vandet." />
    <ScrollComponent img="/imgs/4-matcha-petra.webp" link="https://www.instagram.com/mokkariet/" cafe="Lille Petra" beskrivelse="Lille Petra er en hyggelig café tæt på Kongens Have, kendt for sit rolige gårdrum og gode kaffe." />
  </div>

  <style>
    #matcha-spots {
      padding: 4rem;
    }

    .scroll-bar {
      display: flex;
      overflow-x: auto;
      gap: 22px;
      padding: 10px;
      scroll-behavior: smooth;
      width: 100%;
    }

    h2 {
      font-family: "Anton", sans-serif;
      font-size: 2rem;
      margin-bottom: 20px;
    }
  </style>
</div>
