---
import ScrollComponent from "./ScrollComponent.astro";
---

<div class="matcha-spots">
  <h1>Copenhagen matcha spots</h1>

  <div class="scroll-bar">
    <ScrollComponent img="/imgs/1-matcha-mori.webp" link="https://www.instagram.com/dallas.cph/?hl=da" cafe="Matcha MORI Café Atelier" beskrivelse="Matcha MORI Café Atelier er en hyggelig café i Nordhavn, der fokuserer på matcha og stemning" />
    <ScrollComponent img="/imgs/2-matcha-mokkari.webp" link="https://www.instagram.com/fredscph/?hl=en" cafe="Mokkariet" beskrivelse="hyggelig cafe tæt ved rådhuspladsen" />
    <ScrollComponent img="/imgs/3-matcha-fred.webp" link="https://www.instagram.com/broensstreetfood/" cafe="Random" beskrivelse="random spot idk" />
    <ScrollComponent img="/imgs/6-matcha-broen.webp" link="https://www.instagram.com/fredscph/?hl=en" cafe="Freds" beskrivelse="hyggelig cafe tæt ved rådhuspladsen" />
    <ScrollComponent img="/imgs/4-matcha-petra.webp" link="https://www.instagram.com/mokkariet/" cafe="Random" beskrivelse="random spot idk" />
    <ScrollComponent img="/imgs/5-matcha-fred2.webp" link="https://www.instagram.com/lillepetracafe/" cafe="Lille Petra" beskrivelse="hyggelig cafe tæt ved rådhuspladsen" />
  </div>

  <style>
    .scroll-bar {
      display: flex;
      overflow-x: auto;
      gap: 16px;
      padding: 10px;
      scroll-behavior: smooth;
      width: 100%;
    }
  </style>
</div>
